<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>To Do List</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/font/font-awesome.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/font/font.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/style.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/responsive.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/jquery.bxslider.css') }}" media="screen" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="body_wrapper">
  <div class="center">
    <div class="header_area">
      <div class="logo floatleft"><a href="#"><img src="{{ url_for('static',filename='images/logo.png') }}" alt="" /></a></div>
      <div class="top_menu floatleft">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
      <div class="social_plus_search floatright">
        <div class="social">
          <ul>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="feed"></a></li>
          </ul>
        </div>
        <div class="search">
          <form action="#" method="post" id="search_form">
            
           
          </form>
        </div>
      </div>
    </div>
   <div class="main_menu_area">
      <ul id="nav">
        
        <li><a href="/Adminhome">Admin Home</a></li>
      
        <li><a href="/useradmin">View User</a></li>
      
     
        <li><a href="/">Logout</a></li>
       
      </ul>
    </div>
    <div class="slider_area">
      <div class="slider">
        <ul class="bxslider">
          <li><img src="{{ url_for('static',filename='images/1.jpg') }}" alt="" title="Slider caption text" /></li>
          <li><img src="{{ url_for('static',filename='images/2.jpg') }}" alt="" title="Slider caption text" /></li>
          <li><img src="{{ url_for('static',filename='images/3.jpg') }}" alt="" title="Slider caption text" /></li>
        </ul>
      </div>
    </div>


    <div class="content_area">
       <div>
    

	 </div>
      
    </div>
    
   

<script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery-min.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.bxslider.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static',filename='assets/js/selectnav.min.js') }}"></script> 
<script type="text/javascript">
selectnav('nav', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
selectnav('f_menu', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
$('.bxslider').bxSlider({
    mode: 'fade',
    captions: true
});
</script>
   
   
	 </form>
</body>
</html>